input[type="text"] {
  background-color: white;
  border: none;
  border-radius: 30px;
  padding-left: 40px;
  opacity: 50%;
}
button {
  border: none;
  background: none;
  color: white;
  opacity: 60%;
  transition: all 20ms ease-in-out;
  font-size: 20px;
}
button:hover {
  text-shadow: 0.1vw 0vw 0.1vw #ffd8d8, 0.1vw 0vw 0.1vw #ffd8d8,
    0.2vw 0vw 0.1vw #ffd8d8, 0.1vw 0vw 0vw #f25757, 0.1vw 0vw 0vw #f25757,
    0.2vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.1vw 0vw 0.1vw #f25757,
    0.2vw 0vw 0.1vw #f25757, 0.1vw 0vw 1vw #f25757, 0.1vw 0vw 1vw #f25757,
    0.1vw 0vw 1vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
    0.2vw 0vw 5vw #e50b0b, 0.1vw 0vw 3vw #e50b0b, 0.2vw 0vw 10vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 3vw #e50b0b, 0.2vw 0vw 15vw #e50b0b,
    0.4vw 0vw 5vw #e50b0b;
}
button:focus {
  outline: none;
}
.search-city {
  text-align: center;
  top: 0px;
  margin-bottom: -10px;
}
.form {
  outline: none;
}